// Variables

$white: #fbf9ff;
$border-radius: 1rem;

$secondary: #76949f;
$primary: #a70000;
$primary-bg: #161616;
$tertiary: #f4c95d;
$martel: "Martel",
serif;
$montserrat: "Montserrat",
sans-serif;
$logo-height: 4rem;
$dark: $primary-bg;
$dark: $dark;
$navbar-height: 70px;

body {
    background-color: $primary-bg;
    color: $white;
    font-family: $montserrat;
}

.navbar-brand {
    position: absolute;
    top: 50%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%,
            -50%);
    /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

.navbar-left {
    display: flex;
    margin-right: 44px;
    margin-left: 25px;
}

.navbar-right {
    margin-left: 104px;
    display: flex;
}

.navbar-nav {
    position: relative;
}

.navbar {
    height: $navbar-height;
    position: absolute;
    background-color: transparent;
}

.images {
    margin-bottom: 2rem;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    vertical-align: middle;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

#home {
    padding-top: $navbar-height;
    width: 100%;
    height: 100vh;
    background-image: url("../img/dylan-landscape.jpg");
    background-size: cover;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    z-index: -1;
}

.images {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.image-container {
    width: 350px;
    height: 350px;
    background-size: cover;
}

#image1 {
    background-image: url("../img/dylan1.jpg");
}

#image2 {
    background-image: url("../img/dylan2.jpg");
}

#image3 {
    background-image: url("../img/dylan3.jpg");
}

#image4 {
    background-image: url("../img/dylan4.jpg");
}

#DWLogo {
    background-image: url("../img/DWWordMark@0.5x.png");
    width: 88px;
    height: 61px;
    background-size: cover;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

nav {
    z-index: 1;
}

// @media screen and (max-width: 767px) {
//     .navbar {
//         width: 100%;
//         justify-content: center;
//     }
// }

@media screen and (min-width: 768px) {
    .navbar {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .container-xl {
        padding-left: 0;
        padding-right: 0;
    }

    section {
        padding: $navbar-height 1rem 2rem 1rem;
    }
}

@media screen and (min-width: 400px) {
    section {
        padding: $navbar-height 2rem 2rem 2rem;
    }
}

.section-title {
    margin: 0 auto 1.5rem auto;
    // margin-bottom: 1.5rem;
    border-bottom: 1px solid $white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

p {
    font-size: 0.85rem;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}