// Variables

$white: #fbf9ff;
$border-radius: 1rem;

$secondary: #76949f;
$primary: #a70000;
$primary-bg: #161616;
$tertiary: #f4c95d;
$martel: "Martel", serif;
$montserrat: "Montserrat", sans-serif;
$logo-height: 4rem;
$dark: $primary-bg;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1920px,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1920px,
);

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/containers";


@import "../../node_modules/bootstrap/scss/utilities";

// Bootstrap Template
// $primary: $blue;
$secondary: $gray-600;
// $success: $green;
// $info: $cyan;
// $warning: $yellow;
// $danger: $red;
$light: $gray-100;
$dark: $dark;
$navbar-height: 70px;

body {
    background-color: $primary-bg;
    color: $white;
    font-family: $montserrat;
}

.navbar-brand {
    margin: 0 1rem;
}

.navbar {
    height: $navbar-height;
    position: fixed;
    background-color: $dark;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    font-size:1em;
    font-weight: bold;
    vertical-align: middle;
    height: fit-content;
}

#home {
    padding-top: $navbar-height;
    width: 100%;
    height:100vh;
    background-image: url("../img/dylan-landscape.jpg");
    background-size: cover;
    filter: brightness(70%);
    z-index: -1;
}

.images {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.image-container {
    width: 350px;
    height: 350px;
    background-size: cover;
}

#image1 {
    background-image: url("../img/dylan1.jpg");
}

#image2 {
    background-image: url("../img/dylan2.jpg");
}
#image3 {
    background-image: url("../img/dylan3.jpg");
}
#image4 {
    background-image: url("../img/dylan4.jpg");
}

#DWLogo {
    background-image: url("../img/DWWordMark@0.5x.png");
    width: 88px;
    height: 61px;
    background-size: cover;
    filter: invert(100%);

}

nav {
    z-index: 1;
}

// @media screen and (max-width: 767px) {
//     .navbar {
//         width: 100%;
//         justify-content: center;
//     }
// }

@media screen and (min-width: 768px) {
    .navbar {
        width: 100%;
        justify-content: center;
    }
}
@media screen and (max-width: 400px) {
    .container-xl {
        padding-left: 0;
        padding-right: 0;
    }

    section {
        padding: $navbar-height 1rem 2rem 1rem;
    }
}
@media screen and (min-width: 400px) {
    section {
        padding: $navbar-height 2rem 2rem 2rem;
    }
}

.section-title {
    margin: 0 auto 1.5rem auto;
    // margin-bottom: 1.5rem;
    border-bottom: 1px solid $white;
    width: fit-content;
}

p {
    font-size: .85rem;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
